body{
    font-family: 'Noto Sans KR', sans-serif;
}

.bold-text,
.logo {
    display: none;
}

.background {
    position: absolute;
    z-index: -1;
    width: 90%;
    height: 100%;
    max-width: 450px;
    background: no-repeat center url('img/시작문구배경.png');
    background-size: contain;
    transition: 1s;
}
.main-text {
    width: 90%;
    max-width: 350px;
    color: #333;
    font-size: 16px;
    user-select: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 95vh;
}

#tab1:checked ~ .container > .main-text,
#tab1:checked ~ .container > .next1{
    display: none;
}

#tab1:checked ~.container > .bold-text, 
#tab1:checked ~.container > .next2 {
    display: block;
    animation: bgAppear 1.5s linear;
}

#tab2:checked ~.container > .bold-text, 
#tab2:checked ~.container > .next2 {
    display: none;
}

#tab2:checked ~.container > .logo, 
#tab2:checked ~.container > a > .next3 {
    display: block;
    animation: bgAppear 1.5s linear;
}

@keyframes bgAppear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.next1,
.next2,
.next3,
a {
    width: 80px;
    height: 35px;
    background-color: white;
    border-radius: 10px ;
    text-align: center;
    line-height: 35px;
    color: #751775;
    font-size: 14px;
    box-shadow: 0 1 2px rgba(0,0,0,0.2);
    cursor: pointer;
    user-select: none;
    position: absolute;
    bottom: 285px;
}

.next2,
.next3 {
    display: none;
}

a {
    text-decoration: none;
    color: #751775;
}