.wrapper {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    display: block;
    width: 200px;
    height: 50px;
    margin-top: 5px;
    background-color: rgb(111, 111, 236);
    user-select: none;
    color: cornsilk;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
}

.menu-item {
    display: block;
    width: 180px;
    height: 0px;
    background-color: skyblue;
    color: transparent;
    font-size: 0px;
    text-align: center;
    line-height: 35px;
    margin: 1px;
    text-decoration: none;
    user-select: none;
    transition: 0.3s;
}

#check1:checked ~ .menu1 > .menu-item{
    /* display: block; */
    height: 35px;
    color: cornsilk;
    font-size: 15px;
}

#check2:checked ~ .menu2 > .menu-item{
    /* display: block; */
    height: 35px;
    color: cornsilk;
    font-size: 15px;
}

#check3:checked ~ .menu3 > .menu-item{
    /* display: block; */
    height: 35px;
    color: cornsilk;
    font-size: 15px;
}

#check1,
#check2,
#check3 {
    display: none;
}

/* .menu1,
.menu2,
.menu3 {
    display: none;
} */
